<section id="content">
  <div class="center">
    <h2 class="subheader">Error!!</h2>
    <p>La pagina que buscas no existe...</p>
    <button class="btn btn-success" routerLink="/home">Ir a inicio</button>
    <div id="nav-blog" class="sidebar-item">
                <p>O también puedes intentar otra búsqueda:</p>
                    <form>
                        <input type="text" name="search">
                        <input type="submit" name="submit" value="Buscar" class="btn">

                    </form>
            </div>
  </div>
</section>
